@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Press+Start+2P&display=swap');

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  background: black; /* Default background */
  font-family: 'Orbitron', sans-serif; /* Default font */
}
